hr {
  margin-bottom: 35px;margin-top: 25px;}
li {
  color: blue;}
code {
  font-style: Helvetica; text-decoration: underline;}
.caption {
  width: 50%; font-style: italic;}
#most-important {
  background-color: lightgrey; width: 200px; height:100px;}

